.address {
    margin-top: 20px;
}

.address__link {
    display: inline-block;
    
    color: $white-color;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &--transparent {
        margin-top: 9px;
        color: $footer-address-color;
    }
}

