.form{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;

    @media screen and (min-width: $desktop) {
        min-width: 528px;
    }
}

.form__slogan{
    display: block;
    text-align: center;
    margin-bottom: 12px;

    color: $title-text-color;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.form__field{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__field--last{
    margin-bottom: 20px;
}

.form__label{
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form__input{
    height: 40px;
    margin: 0;
    padding-left: 42px;
    border: 1px solid $input-border;
    border-radius: 4px;

    font-style: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__field:focus-within &{
        border-color: $accent-color;
    }
}

.form__icon{
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: $title-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__field:focus-within &{
        fill:$accent-color;    
    }
}

.form__textarea{
    resize: none;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid $input-border;
    border-radius: 4px;
    // margin-bottom: 20px;

    .form__field:focus-within &{
        border-color: $accent-color;
    }

    &::placeholder{
        color: rgba(117, 117, 117, 0.5);
    }
}

.check{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.17;

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.71;
        margin-left: 15px;
    }
}

.check__input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.check__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 2px;
    margin-right: 7px;
    

    .check__input:checked + & {
        background-color: $accent-color;
        background-image: url(../images/icon-check.svg);
        background-size: contain;
        background-origin: border-box;
        border-color: $accent-color;
    }
}

.check__link{
    color: $accent-color;
    text-decoration: underline;
    margin-left: 4px;
}

.button__form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}