.page-footer{
    background-color: $footer-bg-color;

    padding-top: 60px;
    padding-bottom: 60px;
}

.container__footer{
    display: flex;
    align-items: baseline;
}

.logo--white{
    color: $white-color;
}