.socials {
    display: flex;
    justify-content: space-between;    
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $icons-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{    
        background-color: $accent-color;
        color: $white-color;
    }            
}



.socials__icon {
    fill: currentColor;
}