$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$black-color: #000000;
$white-color: #FFFFFF;
$header-border-color: #ECECEC;
$hero-bg-color: #C4C4C4;
$hero-gradient: rgba(47, 48, 58, 0.4);
$button-active-color: #188CE8;
$bg-color: #F5F4FA;
$work-desk-bg-color: rgba(47, 48, 58, 0.8);
$icons-color: #AFB1B8;
$overlay-color: rgba(33, 150, 243, 0.9);
$footer-bg-color: #2F303A;
$footer-address-color: rgba(255, 255, 255, 0.6);
$footer-socials-color: rgba(255, 255, 255, 0.1);
$backdrop-color: rgba(0, 0, 0, 0.2);
$input-border: rgba(33, 33, 33, 0.2);



$primary-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;